*{box-sizing: border-box;}


body{
  font-family:arial;
}
body,html{padding: 0px;margin: 0px;}

h1{color: #696868;font-size: 18px;padding-left: : 70px;}
h2,h3{color: #696868;font-size: 20px;}

.aboutme{padding-left:70px;margin: 12px;}
.container{padding:30px;}
.contact{padding:25px 70px 40px;}

.mainmenu__item {
  color: #a8a8a8;
  text-decoration: none;
  display: inline-block;
}
.mainmenu__item:hover{color: #696868;}



.img-main{width: 100%;height: auto;
}

header{padding: 20px 20px 20px;}

.logo{display: block;
  width: 100%;
  height:auto;
  padding: 0px 550px;


}

.mainmenu {text-align: center;padding: 0px;margin-top: 30px;}
.mainmenu li{display: inline;}
.mainmenu li a{margin:10px; }

.grid{
display: flex;
flex-wrap: wrap;}
.col-1,.col-2,.col-3{
  width: 33.33%;
}
.col-1{padding: 12px 6px 12px 12px;}
.col-2{padding: 12px 6px 12px;}
.col-3{padding: 12px 12px 12px 6px;}

.col-50{width: 50%;
  margin: 0px;
  padding: 30px 70px 30px 70px;
  }
.artistimg{width: 100%;height: auto;}
p{margin: 0px;font-size: 18px;line-height: 27px;color: #757373;}



/*---------------
Smartphone
--------------*/

@media(max-width:767px){
  .col-1,.col-2,.col-3{
    width: 100%;}
  .col-1,  .col-2,  .col-3{padding: 0px 12px;}
  .col-50{width: 100%;}
  .mainmenu{margin: 0px;}
  .logo{display: block;
    width: 100%;
    height:auto;
    padding: 0px 100px;
    }
  header{padding: 15px 5px 5px;}



}

/*---------------
Tablet
--------------*/
@media (min-width:768px) and (max-width: 998px) {

    .logo{display: block;
      width: 100%;
      height:auto;
      padding: 0px 200px;}

}

@media (max-width:1023px) {

}

@media (min-width:1300px) {

}



footer{background:#e0dede; }
footer p{color: #a8a8a8;padding: 15px;}


.insta-link{
  display: inline-block;
  width: 35px;
  height: 35px;


}
.fb-link{
  display: inline-block;
  width: 35px;
  height: 35px;

}
